@font-face {
  font-family: "VCR OSD Mono";
  src: "url(VCR_OSD_MONO_1.001.ttf)";
}

@font-face {
  font-family: "fs-tahoma-8px";
  src: "url(fs-tahoma-8px.ttf)";
}

:root {
  --md-text-font: "Tahoma";
}